flask
flask-cors
gunicorn
openai==0.28
pandas
matplotlib
textstat
datasets
networkx
dotenv
elevenlabs>=1.1.0
rouge-score
spacy[cpu]==3.7.2
stripe==7.0.0
Flask-JWT-Extended==4.5.3
python-dateutil==2.8.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz